@model Betriebsmittelverwaltung.Models.Retourenverwaltung

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Retourenverwaltung</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Typ" class="control-label"></label>
                <select asp-for="Typ" class="form-control"></select>
                <span asp-validation-for="Typ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaustellenID" class="control-label"></label>
                <input asp-for="BaustellenID" class="form-control" />
                <span asp-validation-for="BaustellenID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypId" class="control-label"></label>
                <input asp-for="TypId" class="form-control" />
                <span asp-validation-for="TypId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
